*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#222;

    font-family: 'Roboto';
}
.card{
    background:linear-gradient(135deg,#00feba,#5b548a);
    width:90%;
    color:#fff;
    margin: 100px auto 10px;
    max-width:470px;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
}
.search{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.search input{
    border:0;
    outline:0;
    background-color:#ebfffc;
    color:#555;
    height: 60px;
    padding:10px 25px;
    border-radius: 30px;
    margin-right:16px;
    flex:1;
}
.search button{
    border:0;
    outline:0;
    background: #ebfffc;
    border-radius: 50%;
    height:60px;
    width:60px;
    cursor:pointer;
}
.search button img{
    height:30px;
    width:30px;
}
.weather-icon{
    width:170px;
    margin-top:30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 12px;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    /* margin-top: -10px;; */
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 px;
    margin-top:50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width:40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 32px;
    margin:0;
}
.weather{
    display: none;
}
.error{
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    display:none;
}