body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #000080;
}
form{
    display: flex;
    flex-direction: column;
    gap:5px;
}
div{
    border:2px solid black ;
    padding: 20px;
    border-radius: 10px;
    background-color:coral;

}